make_blueprint.json
{
  "name": "Boost.space TOFU — Weekly PostHog Fetch → GitHub",
  "flow": [
    {
      "id": 1,
      "module": "builtin:BasicTrigger",
      "version": 1,
      "parameters": { "interval": 10080 },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "notes": "Schedule: every Monday at 09:00. Interval = 10080 minutes (1 week)."
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT count(), count(DISTINCT person_id), count(DISTINCT $session_id) FROM events WHERE event='$pageview' AND toDate(timestamp)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(timestamp)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "notes": "Query 1: Reach — pageviews, unique visitors, sessions"
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT count() FROM events WHERE event='cta_click' AND toDate(timestamp)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(timestamp)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "notes": "Query 2: CTA clicks"
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT count() FROM events WHERE event='install_view' AND toDate(timestamp)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(timestamp)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 900, "y": 0 }, "notes": "Query 3: Install views" }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT count() FROM events WHERE event='select_pricing_plan' AND toDate(timestamp)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(timestamp)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 1200, "y": 0 }, "notes": "Query 4: Pricing selections" }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT properties.form_type, count() FROM events WHERE event='form_submit' AND toDate(timestamp)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(timestamp)<'{{formatDate(now; `YYYY-MM-DD`)}}' GROUP BY properties.form_type ORDER BY count() DESC\"}}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 1500, "y": 0 }, "notes": "Query 5: Form submissions by type" }
    },
    {
      "id": 7,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT count() FROM events WHERE event='demo_meeting_booked' AND toDate(timestamp)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(timestamp)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 0, "y": 300 }, "notes": "Query 6: demo_meeting_booked (MQL)" }
    },
    {
      "id": 8,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT count() FROM events WHERE event='leady_new_lead' AND toDate(timestamp)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(timestamp)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 300, "y": 300 }, "notes": "Query 7: leady_new_lead" }
    },
    {
      "id": 9,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT sum(metrics_impressions), sum(metrics_clicks), sum(metrics_cost_micros)/1000000, sum(metrics_conversions) FROM googleads_campaign_stats WHERE toDate(segments_date)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(segments_date)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 600, "y": 300 }, "notes": "Query 8: Google Ads Data Warehouse" }
    },
    {
      "id": 10,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://eu.posthog.com/api/projects/100634/query",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.posthog_api_key}}" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"query\":{\"kind\":\"HogQLQuery\",\"query\":\"SELECT sum(impressions), sum(clicks), sum(landing_page_clicks), sum(cost_in_usd), sum(external_website_conversions) FROM linkedinads_campaign_stats WHERE toDate(date_start)>='{{formatDate(addDays(now; -7); `YYYY-MM-DD`)}}' AND toDate(date_start)<'{{formatDate(now; `YYYY-MM-DD`)}}'\"}}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 900, "y": 300 }, "notes": "Query 9: LinkedIn Ads Data Warehouse" }
    },
    {
      "id": 11,
      "module": "builtin:SetVariable",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "weekly_payload",
        "scope": "roundtrip",
        "value": "{\"label\":\"{{formatDate(addDays(now;-7);`MMM`+' W')}}\",\"range\":\"{{formatDate(addDays(now;-7);`YYYY-MM-DD`)}} – {{formatDate(addDays(now;-1);`YYYY-MM-DD`)}}\",\"start\":\"{{formatDate(addDays(now;-7);`YYYY-MM-DD`)}}\",\"end\":\"{{formatDate(addDays(now;-1);`YYYY-MM-DD`)}}\",\"reach\":{\"pageviews\":{{2.results[0][0]}},\"unique_visitors\":{{2.results[0][1]}},\"sessions\":{{2.results[0][2]}},\"pages_per_session\":{{if(2.results[0][2]; round(divide(2.results[0][0]; 2.results[0][2]); 2); 0)}}} ,\"engagement\":{\"cta_clicks\":{{3.results[0][0]}},\"cta_click_rate\":{{if(2.results[0][1];round(multiply(divide(3.results[0][0];2.results[0][1]);100);2);0)}},\"install_views\":{{4.results[0][0]}},\"pricing_selections\":{{5.results[0][0]}}},\"leads\":{\"total_forms\":{{sum(map(6.results;item;item[1]))}},\"cvr\":{{if(2.results[0][1];round(multiply(divide(sum(map(6.results;item;item[1]));2.results[0][1]);100);2);0)}},\"sign_up_lead_email\":{{first(map(filter(6.results;item;equal(item[0];\"sign_up_lead_email\"));item;item[1])) ?? 0}},\"sign_up\":{{first(map(filter(6.results;item;equal(item[0];\"sign_up\"));item;item[1])) ?? 0}},\"demo_lead\":{{first(map(filter(6.results;item;equal(item[0];\"demo_lead\"));item;item[1])) ?? 0}},\"callback\":{{first(map(filter(6.results;item;equal(item[0];\"callback\"));item;item[1])) ?? 0}},\"waiting_list\":{{first(map(filter(6.results;item;equal(item[0];\"waiting_list\"));item;item[1])) ?? 0}},\"newsletter\":{{first(map(filter(6.results;item;equal(item[0];\"newsletter\"));item;item[1])) ?? 0}},\"old_demo_event\":0},\"mql\":{\"demo_meeting_booked\":{{7.results[0][0]}},\"leady_new_lead\":{{8.results[0][0]}}},\"paid\":{\"google\":{\"impressions\":{{9.results[0][0] ?? 0}},\"clicks\":{{9.results[0][1] ?? 0}},\"spend_czk\":{{round(9.results[0][2] ?? 0; 0)}},\"conversions\":{{9.results[0][3] ?? 0}}},\"linkedin\":{\"impressions\":{{10.results[0][0] ?? 0}},\"clicks\":{{10.results[0][1] ?? 0}},\"lp_clicks\":{{10.results[0][2] ?? 0}},\"spend_usd\":{{round(10.results[0][3] ?? 0; 0)}},\"conversions\":{{10.results[0][4] ?? 0}}}}}"
      },
      "metadata": { "designer": { "x": 1200, "y": 300 }, "notes": "Assemble new week JSON object from all query results" }
    },
    {
      "id": 12,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://api.github.com/repos/Petrgyure/boostspace-tofu-report/contents/data/weekly.json",
        "method": "get",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.github_token}}" },
          { "name": "Accept", "value": "application/vnd.github+json" }
        ],
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 1500, "y": 300 }, "notes": "GET current file SHA (required for update)" }
    },
    {
      "id": 13,
      "module": "builtin:SetVariable",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "current_data",
        "scope": "roundtrip",
        "value": "{{parseJSON(base64ToString(12.data.content))}}"
      },
      "metadata": { "designer": { "x": 0, "y": 600 }, "notes": "Decode existing weekly.json from base64" }
    },
    {
      "id": 14,
      "module": "builtin:SetVariable",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "updated_json",
        "scope": "roundtrip",
        "value": "{\"_meta\":{\"source\":\"PostHog EU — project 100634\",\"updated_at\":\"{{formatDate(now;`YYYY-MM-DDTHH:mm:ss`}}}Z\",\"updated_by\":\"make_automation\",\"next_update\":\"{{formatDate(addDays(now;7);`YYYY-MM-DDTHH:mm:ss`}}}Z\",\"version\":1},\"weeks\":{{toString(append(current_data.weeks; parseJSON(weekly_payload)))}}}"
      },
      "metadata": { "designer": { "x": 300, "y": 600 }, "notes": "Append new week to existing weeks array, update _meta" }
    },
    {
      "id": 15,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true },
      "mapper": {
        "url": "https://api.github.com/repos/Petrgyure/boostspace-tofu-report/contents/data/weekly.json",
        "method": "put",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{CONNECTION.github_token}}" },
          { "name": "Accept",        "value": "application/vnd.github+json" },
          { "name": "Content-Type",  "value": "application/json" }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "body": "{\"message\":\"Auto: weekly TOFU fetch — {{formatDate(now;`YYYY-MM-DD`)}}\",\"content\":\"{{toString(toBase64(updated_json))}}\",\"sha\":\"{{12.data.sha}}\"}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 600, "y": 600 }, "notes": "PUT updated weekly.json back to GitHub → triggers Pages rebuild" }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false
    },
    "_connections_needed": {
      "posthog_api_key": "phx_LfVNRjYgMKgiHbxnlGTy8XcGRyhCfV5cvtkHxMXjGcQndXX",
      "posthog_project_id": "100634",
      "posthog_base_url": "https://eu.posthog.com",
      "github_token": "GitHub Personal Access Token with repo write scope — generate at https://github.com/settings/tokens",
      "github_repo": "Petrgyure/boostspace-tofu-report"
    }
  }
}
